//idealy I would have had more in here and fixed the color var names a bit but ran out of time. By more in here I mean the triangle css code into its own mixin, drop shadows, and svg interactions
// colors
$green: #335f08;
$white: #f6f8f4;
$white2: #e6e9ed;
$gray: #f0f0f0;
$darkGray: #cecece;
$yellow: #ffd600;